.navbar-nav>.user-menu>.dropdown-menu>.user-body p{
	margin: 0;
}
div.dataTables_wrapper div.dataTables_length select {
	width: 65px !important;
}
.table-accions .label{
	font-size: 12px;
	font-weight: 300;
}
.box-footer{
	background-color: #f9f9f9;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p{
	color: white;
}